@font-face {
    font-family: Roboto, sans-serif, 'Noto Sans', Arial, sans-serif, TengwarTelcontar;
}

.shaka-overflow-menu button,
.shaka-settings-menu button,
.shaka-video-container {
    font-family: 'Noto Sans', Arial, sans-serif, Roboto, sans-serif, TengwarTelcontar;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
    font-family: Arial, sans-serif;
    overflow: auto;
}

.shaka-video {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.shaka-video-container {
    overflow: hidden;
}

.shaka-spinner-path {
    stroke: #808080;
}

.shaka-video-container .material-icons-round {
    font-family: "Material Icons Round";
    font-size: 30px;
}

.shaka-current-time[disabled] {
    background-color: transparent;
    font-size: 14px;
    color: white;
    cursor: default;
    white-space: normal;
    word-break: break-word;
    flex-shrink: 1;
    line-height: .6;
}

.shaka-controls-button-panel>* {
    color: #fff;
    height: 35px;
    line-height: .5;
    margin: 1px;
    padding: 0 5px;
    background: 0 0;
    border: 0;
    cursor: pointer;
}

.shaka-controls-button-panel > .shaka-volume-bar-container {
    height: 4px;
}

.shaka-volume-bar-container {
    width: 50px;
    padding: 0;
}

.shaka-overflow-menu,
.shaka-settings-menu {
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    max-height: 250px;
    min-width: 180px;
    opacity: 0;
    transition: opacity cubic-bezier(.4,0,.6,1) .6s;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    right: 15px;
    bottom: 30px;
}

.shaka-overflow-menu button,
.shaka-settings-menu button {
    font-size: 14px;
    background: 0 0;
    color: #fff;
    border: none;
    min-height: 30px;
    padding: 1px 1px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.shaka-overflow-menu button:hover,
.shaka-settings-menu button:hover {
    background: #808080;
}

.shaka-overflow-menu button label,
.shaka-settings-menu button label {
    cursor: pointer;
}

.shaka-keyboard-navigation .shaka-overflow-menu button:focus,
.shaka-keyboard-navigation .shaka-settings-menu button:focus {
    background: #808080;
}

.shaka-overflow-menu i,
.shaka-settings-menu i {
    padding-left: 5px;
    padding-right: 5px;
}

.shaka-overflow-menu.shaka-low-position,
.shaka-settings-menu.shaka-low-position {
    bottom: 15px;
}

.shaka-overflow-menu span {
    text-align: left;
}

.shaka-overflow-button-label {
    position: relative;
    display: flex;
    flex-direction: column;
}

.shaka-current-selection-span {
    color: rgba(255, 255, 255, 0.85);
}

.shaka-play-button[icon=play] {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2224px%22%20viewBox%3D%220%20-960%20960%20960%22%20width%3D%2224px%22%20fill%3D%22%23ffffff%22%20opacity%3D%220.6%22%3E%3Cpath%20d%3D%22M332-234.31v-491.38L720.15-480%20332-234.31ZM398-480Zm0%20124%20197.54-124L398-604v248Z%22%2F%3E%3C%2Fsvg%3E');
}

.shaka-play-button[icon=pause] {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2224px%22%20viewBox%3D%220%20-960%20960%20960%22%20width%3D%2224px%22%20fill%3D%22%23ffffff%22%20opacity%3D%220.6%22%3E%3Cpath%20d%3D%22M540-211v-540h210v540H540Zm-330%200v-540h210v540H210Zm396-66h78v-408h-78v408Zm-330%200h78v-408h-78v408Zm0-408v408-408Zm330%200v408-408Z%22%2F%3E%3C%2Fsvg%3E');
}

.shaka-play-button {
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    background-size: 100%;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.0) !important;
}

.shaka-bottom-controls {
    width: 96%;
    padding: 0;
    padding-bottom: 0%;
    z-index: 1;
}

.shaka-seek-bar-container {
    opacity: 0;
    top: -55px;
    transition: opacity cubic-bezier(.4, 0, .6, 1) .6s;
}

/* Media Queries */
@media (max-aspect-ratio: 1/1) {
    body {
        height: 100dvh;
        display: flex;
        flex-direction: column;
    }

    .shaka-video-container {
        position: relative;
        background-color: black;
        width: 100%;
        height: 100%;
    }
}

@media (min-aspect-ratio: 1/1) {
    html, body {
        height: 100dvh;
        overflow: hidden;
    }
    
    body {
        display: flex;
        flex-direction: row;
    }
    
    .shaka-video-container {
        position: relative;
        background-color: black;
        width: 100vw;
        height: 100dvh;
        overflow: hidden;
    }
} 
